includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: 5

    ignoreErrors:
        - '#Method [a-zA-Z0-9\\]+::[\w]+\(\) should return [a-zA-Z0-9\\\|]+ but return statement is missing#'
        - '#Access to an undefined property App\\Models\\[a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+#'
        - '#Call to an undefined method App\\Providers\\[a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\)#'
        - '#Access to an undefined property App\\Providers\\[a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+#'
        - '#Parameter [\#][0-9]+ \$default of method Glorand\\Model\\Settings\\Contracts\\SettingsManagerContract::get\(\) expects null, [a-z]+ given#'
        - '#Call to an undefined method League\\Flysystem\\FilesystemInterface::[a-zA-Z0-9\\_]+\(\)#'
        - '#Call to method getAdapter\(\) on an unknown class \\League\\Flysystem\\Cached\\CachedAdapter#'
        - '#Parameter [\#][0-9]+ \$[\w]+ of class [a-zA-Z0-9\\]+ [\w]+ expects ([a-zA-Z0-9\\\|]+)?Illuminate\\Container\\Container([a-zA-Z0-9\\\|]+)?, Illuminate\\Contracts\\Foundation\\Application given#'
        - '#Parameter \#1 \$routes of method Illuminate\\Routing\\Router::setRoutes\(\) expects Illuminate\\Routing\\RouteCollection, Illuminate\\Routing\\RouteCollectionInterface given#'
        -
            message: '#Parameter \#4 \$data of class Google\\Http\\MediaFileUpload constructor expects string, null given#'
            path: app/Garages/GoogleDrive/GoogleDriveAdapter.php
        -
            message: '#Unsafe usage of new static\(\)#'
            path: app/Providers/MacroServiceProvider.php

    excludePaths:
        - bootstrap/
        - config/
        - database/
        - public/
        - resources/
        - routes/
        - storage/
        - tests/
        - vendor/
