@font-face {
  font-family: 'GlacialIndifference';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GlacialIndifference-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'GlacialIndifference';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GlacialIndifference-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'GlacialIndifference';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/GlacialIndifference-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'GlacialIndifference';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/GlacialIndifference-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'GlacialIndifference';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/GlacialIndifference-Bold.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css?family=Exo+2:200,300,400,600,700|Roboto:200,300,400,600,700|Muli:200,300,400,600,700|Lato:200,300,400,600,700');

$fa-font-path: '../vendor/font-awesome';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
