header {
  a {
    @apply text-white;
  }

  .main-navbar {
    background: rgba(3, 152, 158, 1);
    transition: transform .35s ease-in-out, height .25s ease-in-out, background-color .45s ease-in-out;

    .logo-box {
      @apply relative h-full;

      .logo {
        @apply absolute flex flex-col items-center w-36 left-0;

        padding: 10px 20px;
        z-index: 99;
        background-color: #04696d;
        text-decoration: none;
        color: #fff;
        top: -35px;
        transition: all ease-in-out 0.3s;

        span {
          @apply block mt-3 font-glacial text-center;

          text-transform: uppercase;
          line-height: 1;
        }

        img {
          @apply w-18 block;

          transition: all .35s;
        }
      }
    }

    &.sticky {
      @apply fixed py-0 left-0 z-50 shadow-md;

      background: rgba(3, 152, 158, 0.75);

      .logo-box {
        .logo {
          @apply static flex-row w-64 h-full pl-20;

          padding-top: 15px;
          padding-bottom: 15px;
          padding-right: 5px;

          span {
            @apply mt-0 pr-3.5 text-left;

            line-height: 1.4;
          }

          img {
            @apply w-12 top-2 left-4;

            position: absolute;
            object-fit: contain;
          }
        }
      }
    }
  }

  @screen max-md {
    .main-navbar, .main-navbar.sticky {
      @apply shadow-md h-14;

      background: rgba(3, 152, 158, 0.75);

      .logo-box {
        .logo {
          @apply static flex-row w-52 h-full pl-16;

          padding-top: 5px;
          padding-bottom: 5px;
          padding-right: 5px;

          span {
            @apply mt-0 pr-2 text-left;

            line-height: 1.4;
          }

          img {
            @apply w-10 top-2 left-3;

            position: absolute;
            object-fit: contain;
          }
        }
      }
    }

    .main-navbar.sticky {
      @apply fixed py-0 left-0 z-50;
    }
  }
}
